
<meta charset="UTF-8">

<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">Spring Boot Board</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		aria-controls="navbarSupportsContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggle-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				
				<!-- href="" 여기는 빈칸으로 놔두면 새로고침해서 다시 처음부터 다 쭉 처리하므로 에러가 떠서 -->
				<!-- #을 써놓고 나중에 고쳐주면 됨 -->
				
					<!-- 로그인 -->
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
					
					<!-- 인증이 됐으면 로그아웃으로 바꾸기 -->
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
					
				</li>			
				<li class="nav-item">
					<a class="nav-link" th:href="@{/user/signup}">회원가입</a>
				</li>
			</ul>
		</div>
	</div>
 </nav>